@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
body {
  background-color: white;
}
:root {
  --card-color: red(241, 143, 16);
}
/* +++++++++++++++++++++++++ 
    TODO:d卡片樣式
+++++++++++++++++++++++++ */
.goopi > .card {
  margin-bottom: 20px;
  background-color: rgb(251, 252, 250);
  color: var(--card-color);
  box-shadow: rgb(202, 19, 19);
  border-width: 10px;
  border-color: deeppink;
}
.card {
  margin-bottom: 20px;
  background-color: rgb(26, 236, 236);
}
.card-header {
  text-align: center;
  padding: 0;
}
.card-header1 {
  text-align: center;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.card-footer {
  text-align: center;
  padding: 0;
}
.card-header .card-link {
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-align: center;
  display: block;
  padding: 10px 0px 10px 0px;
}
.card-footer .card-link {
  text-align: center;
  display: block;
  padding: 0px;
}
.card-link::before {
  content: "\f106";
  width: 12px;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  margin-right: 1rem;
}
.collapsed::before {
  content: "\f103";
  width: 12px;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  margin-right: 1rem;
}
.sec4 a.card-link::before {
  content: "\f106";
  width: 12px;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  margin: 0;
}
.sec4 a.collapsed::before {
  content: "\f103";
  width: 12px;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  margin: 0;
}
.card-body {
  text-align: center;
}
.card-header img {
  width: 180px;
  height: 150px;
  margin: 0px 15px 0px 0px;
}
/* +++++++++++++++++++++++++ 
    TODO:表格樣式
+++++++++++++++++++++++++ */
.class1 table {
  border: 1px solid rgb(0, 0, 0);
  font-family: 微軟正黑體;
  font-size: 16px;
  width: 600px;
  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
  border-color: deeppink;
}
.class2 table {
  border: 1px solid #000;
  font-family: 微軟正黑體;
  font-size: 16px;
  width: 546px;
  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
  border-color: deeppink;
}
.class1 th {
  width: 300px;
}
.sam th {
  width: 300px;
}
.sam td {
  height: 10px;
}
.baga {
  width: 1194px;
  height: 432px;
  overflow: auto;
}
.square {
  width: 200px;
  height: 200px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  background-image: url(https://image.taiwantoday.tw/images/content_info/img20180806160003352.jpg);
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}
.qwer {
  text-shadow: 0px 0px 25px rgb(43, 62, 92);
}
.polo {
  text-shadow: -1px -1px white, 1px 1px #333;
}
.marblo {
  border-left: 10px solid rgb(239, 243, 3);
  background-color: darkgrey;
}
.snip1585 {
  background-color: rgb(41, 46, 57);
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  padding: 0px;
  text-shadow: 1px 1px 1px black;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(46, 52, 64, 0.5);
  border-top: 50px solid rgba(46, 52, 64, 0.5);
  border-bottom: 50px solid rgba(46, 52, 64, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  backface-visibility: hidden;
  width: 250px;
  height: 250px;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  border-radius: 50%;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-radius: 50%;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.a123 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: 25px;
  background: -webkit-linear-gradient(
    left,
    rgb(235, 235, 135),
    rgb(188, 233, 146),
    rgb(213, 231, 193)
  );
}
.a1234 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: 25px;
  background: -webkit-linear-gradient(
    left,
    #ffe5fec2,
    rgb(255, 195, 237),
    rgb(255, 175, 248)
  );
}
.a12345 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 25px;
  background: -webkit-linear-gradient(
    left,
    #eec97ace,
    rgb(247, 193, 77),
    rgba(241, 173, 24, 0.925)
  );
}
.a123456 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9;
  font-size: 25px;
  background: -webkit-linear-gradient(
    left,
    #9dedfce1,
    rgb(17, 226, 233),
    rgba(127, 224, 236, 0.925)
  );
}
.a456 {
  border-bottom: 5px solid rgb(0, 0, 0);
  color: brown;
}
.ss::before {
  content: "\f0e3";
  height: 100px;
  width: 100px;
  font-size: 60px;
  font-family: "Font Awesome 5 Free";
}
i.fa-gavel {
  height: 100px;
  width: 100px;
  font-size: 60px;
}
.zxc h3 {
  text-align: center;
  font-family: KaiTi;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9;
}
.dd12 {
  border-right: 10px solid rgb(247, 66, 42);
  padding-right: 20px;
  margin-right: 10px;
}
i.fa-acquisitions-incorporated {
  height: 100px;
  width: 100px;
  font-size: 60px;
}
i.fa-coins {
  height: 100px;
  width: 100px;
  font-size: 60px;
}
.asd144 {
  height: 10px;
  width: 100%;
  display: block;
  background: -webkit-linear-gradient(
    left,
    rgb(3, 3, 3),
    rgb(126, 126, 124),
    rgb(2, 2, 2)
  );
}
.asdasdasd {
  height: 100px;
  width: 100%;
  border-left: 100px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid rgba(0, 0, 0, 0.7);
  border-right: 100px solid transparent;
}
.ghj::after {
  content: "";
  height: 0px;
  width: 100%;
  border-left: 400px solid transparent;
  border-top: 130px solid transparent;
  border-bottom: 100px solid rgba(122, 121, 121, 0.5);
  border-right: 400px solid transparent;
  position: relative;
  bottom: 200px;
}
.ddd12 {
  border-right: 10px solid rgb(247, 66, 42);
  padding-right: 115px;
  margin-right: 10px;
}
.vbn {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.vbn {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.vbn img {
  width: 600px;
  height: 300px;
}
.gggg {
  background: -webkit-linear-gradient(
    left,
    rgb(253, 253, 253),
    rgb(233, 233, 233),
    rgb(155, 155, 155)
  );
}
.qqw {
  background-color: whitesmoke;
}
.gd {
  background-color: whitesmoke;
}
