/******************
      導覽列設計
******************/
nav {
  padding: 0px !important;
}
.active {
  border-bottom: 5px solid rgb(240, 149, 121);
}
.navbar-brand {
  text-justify: center;
  font-size: 44px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 900;
}
.navbar > .container-fluid {
  padding: 0;
}
.navbar-nav {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
.navbar-nav li {
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
