.banner{
    background:url(../panpan/banner01.jpeg) no-repeat;
    background-size: cover;
    background-position:center;
    height: 400px;
    padding: 20px 20px 0px 20px;
}
.banner h2{
    color:white;
}
.banner h1{
    transform:translateY(100px);
}
.banner b{
    border-bottom:3px solid black;
}
.company img{
    width:100%;
    height:auto;
    border-radius: 20px;
    margin:5px;
}
.company2>div>div{
    background:green;
    padding:20px 10px 20px 10px;
    text-align:center;
    color:white;
    font-size:36px;
}
.company2 img{
    width:100%;
    height:auto;
    border-radius: 30px;
    border:red dashed 10px;
    margin:5px 5px 40px 5px;
}
.company2>div>div b{
    border-left: 5px solid white;
}
h2>b{
    background:brown;
    border-radius: 40px;
    padding :0px 30px 0px 40px;
    
}
h2>b>b{
   border-left: 3px solid black;
   z-index: 1;
}
.asdasd img{
    width:100%;
    height:auto;
    border-radius: 40px;
    border: 3px solid yellow;
}
.asdasd div.row{
    position: relative;
}
.asdasd div.row::after{
    content:"";
    width:100%;
    height: 100%;
    position:absolute;
    top: 0px;left:0px;
    background:url(../panpan/banner01.jpeg) no-repeat;
    background-size: cover;
    background-position:center;
    filter:blur(10px);
    z-index: -1;
}