@import "navbar.css";
.headnew1 {
  background-image: url(../IMG_pp/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: multiply;
  min-height: 500px;
}
.bca {
  border-bottom: black 3px solid;
}
.img1 div {
  width: 100%;
  height: 150px;
}
.img1 div img {
  width: 100%;
  height: 150px;
}
.img-box div img {
  width: 100%;
  height: 300px;
}
.img-2 .img-box div img {
  width: 100%;
  height: 200px;
}
.banner-box {
  position: relative;
  width: auto;
  max-width: 100%;
  height: 600px;
}
.banner-box img {
  width: 100%;
  height: 100%;
}

.next,
.prev {
  width: 80px;
  height: 80px;
  font-size: 40px;
  position: absolute;
  top: 50%;
  display: none;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
}
.next {
  border-radius: 10px 0px 0px 10px;
  right: 15px;
}
.prev {
  left: 15px;
  border-radius: 0px 10px 10px 0px;
}
.next:focus,
.prev:focus {
  background: rgba(0, 0, 0, 1);
}
.slick-dots {
  bottom: 20px;
}
.slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
}
.slick-dotted.slick-slider {
  margin: 0px;
}
