 body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 50px;
}

div.ab{
    position:absolute;
    width: 450px;
    height: 700px;
    border: 3px black solid;
    z-index: -1;
}
div.column{
    width: 450px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px black solid;
    cursor:pointer;
    color: black;
    background-color: #f5f5dc;
}
nav.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 35px;
}
nav.row a{
    margin: 0px 5px 0px;
}
.none{
    text-decoration: none;
}
div.cover:hover{
    transform:rotateY(40deg) translateX(-60px);
}
.table-info{
    background-color: #bee5eb;
}
table img{
    width: 50px;
    height: 50px;
}
.ball a{
    font-size: 20px;
    text-decoration:none
}
td,th{
    min-width: 20px;
}
div.column img{
    width: 300px;height: 400px;
}