:root{
    --box-head_width:360px;
    --box-head-h1_height:65px;
    --box_width:960px;
}    
html{
    font-size:16px;
}
html,body,section,div,h1,h2,h3,h4,p{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
h1{
    font-size:3rem;
    font-weight:100;
    text-align:center;
    width:100%;
}
h2{
    font-weight:700;
}
p{
    font-size:1.1rem;
}
.box{
    width: 960px;
    margin: 100px auto 0px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:  repeat(10,120px);
    margin: auto;
display: grid;
grid-template-columns: repeat(28, 40px);
grid-template-rows: repeat(24, 40px);
}
.box-head{
    grid-column:1/5;
    grid-row:1/2;
    color: #fff;
    z-index: 3;
}
.box-head h1{
    background-color:rgb(199, 4, 4);
}
.box-head-text{
    background-color:black;
    padding: 15px;
}
.box-img{
    grid-column:3/10;
    grid-row:1/2;
}
.box-img img{
    width: 100%;
    height:auto;
}