*{
    font-size: 1em;
}
a{
    text-decoration: none;
}
h1,h2,h6{
    font-weight:bolder;
    line-height: 1.5;
}
/* TODO header樣式 */
header{
    height: 124px;
}
.header-top{
    width:100vw;
    height: 40px;
    background-color: #00142D;
    color: #fff;
    padding: 0px 100px 0px;
}
.header-top button{
    background-color: #00142D;
    border: none;
    color: #fff;
    padding-right: 20px;
    border-right: 1px solid #fff;
}
.header-top a{
    color:#fff;
    margin-left: 20px;
}
.header-top a:hover,.header-top button:hover{
    color:#2684ff;
}
/* 2 */
.header-map {
    width: 100%;
    height: 84px;
    background-color: #fff;
    padding: 0px 100px 0px;
    z-index: 100;
    box-shadow: 0 2px 12px 0 rgba(36,50,66,0.075);
}
.header-map ul{
    margin:0px;
    padding-left: 65px;
}
.header-map li{
    height: inherit;
    margin: 0 10px 0;
    display:flex;
    align-items: center;
    position: relative;
    border-bottom:5px solid #fff;
}
.header-map li a{
    color:black;
}
.dropmenu{
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.header-map li:hover div:last-of-type{
    display: block;
}
.header-map li ::after{
    content: "";
    width: inherit;
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    transform:scale(0, 1);
    transition: all 1s;
    border-bottom: 5px solid #0061FF;
}
.header-map li:hover ::after {
    transform:scale(1);
    transition:all 1s;
}
.header-map li:hover a{
    color:#0061FF;
}
.header-map li>a{
    color:#000;
    font-size: 1em;
}
.fa-chevron-down:before{
    color: grey;
    position: relative;
    font-size: 8px;
    left:5px;
    top: -2px;
}
.header-map li:hover .fa-chevron-down:before{
    content: "\f077"
}
.nav-btn{
    min-width: 100px;
    color:#fff;
    background-color: #0061FF;
    border-radius: 30px;
    margin: 0;
    padding: 8px 17px 8px;
}
.nav-btn:hover{
    color:#fff;
    background-color:#0747A6;
}
/* 3 */
section:first-of-type{
    background: url(img/bg1.png) no-repeat center/auto 100%;
    background-size:100% 100%;
    width: 100%;
    height: 700px;
    padding: 0px 100px 0px;
    color:#fff;
    font-weight:bolder;
}
section:first-of-type div{
    width: 50%;
}
section:first-of-type div:first-of-type{
    padding-right: 75px;
}
section:first-of-type div img{
    width: 100%;
    height:auto;
}
section:first-of-type h1+p{
    font-size:1.2em;
}
.text-G{
    color:#00C66A;
}
.input-email{
    width: 350px;
    background: unset;
    border: 1px solid #fff;
    border-width: 0 0 1px;
    border-radius: 0;
    color: #fff;
    padding-left: 0;
    font-size: 100%;
}
.mail-btn{
    min-width: 120px;
    color:#fff;
    background-color: #0061FF;
    border-radius: 30px;
    margin: 0 0 0 20px;
    padding: 8px 17px 8px;
    border:none;
}
.nav-btn:hover{
    color:#fff;
    background-color:#0747A6;
}
/* 4 */
.home-intro{
    padding: 100px 200px 0px;
}
.home-intro p{
    font-size:1.1em;
    line-height:1.8;
}
.intro-title{
    margin-bottom:120px;
}
.home-intro-box{
    padding-bottom: 100px;
    margin-bottom:100px;
    border-bottom: 1px solid #E0E5E9;
}
.home-intro-box img{
    width: 100%;
    height: auto;
}
.home-intro-box div{
    width: 50%;
}
.home-intro-box ul{
    padding:0;
    list-style: none;
}
.home-intro-box li{
    width: 50%;
    margin-bottom: 5px;
    font-weight: 500;
}
.fa-check{
    color:#005EFF;
    background-color:#DEEBFF;
    border-radius: 50%;
    margin-right: 5px;
}
.home-intro-box:last-of-type{
    margin-bottom: 0px;
}
/* .home-intro-box li:before {
    content: "\f00c";
} */
/* 5 */
.home-features{
    background-color:rgb(244, 245, 247);
    padding:75px 50px 25px;
}
.home-features ul{
    list-style: none;
    padding:0;
}
.home-features li{
    width: 300px;
    margin:0px 60px 60px;
    text-align:center;
}
.home-features div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 30px;
    box-shadow: 0 0 12px rgb(36 50 66 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-features div img{
    width: 60%;
    height: auto;
}
/* 6 */
.home-showcase{
    padding: 70px 130px;
}
.home-showcase h2>span{
    color:#0061FF;
}
.home-showcase ul{
    list-style: none;
    border-bottom: 1px solid  grey;
    padding:0;
}
.home-showcase li{
    width:calc(100% / 5);
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 3px solid  transparent;
}
.home-showcase li:hover,.home-showcase li.click{
    border-color: #0061FF;
}
.home-showcase li:hover img,.home-showcase li.click img{
    background-color:rgba(0, 97, 255,0.4);
}
.home-showcase li img{
    width:auto;
    height: 80px;
}
.showcase-content div:first-child{
    padding-right: 30px;
    font-weight: 500;
    position: relative;
}
.showcase-content div:first-child span{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
/* 7 */
footer>div{
    padding:50px 130px 0px;
}
.footer-map{
    height:350px;
    background: url("img/bg2.png") 
    no-repeat -250px -85px/auto 360px #172B4D;
    position: relative;
}
.footer-map h2{
    color: #fff;
    line-height:1.8;
}
.footer-map img{
    position:absolute;
    right: 0px;
    bottom: 0px;
}
.footer-map a{
    color: #fff;
    min-width: 100%;
    background-color: #0061FF;
    border-radius: 30px;
    padding: 15px 60px 15px 120px;
    position: relative;
}
.footer-map a i{
   padding-left:50px;
}
.footer-list{
    background-color: #00142D;
    position: relative;
}
.footer-list>div{
    position: relative;
    padding-bottom: 80px;
}
.footer-list hr{
    border: 1px solid #1764e9;
    margin-top: 40px;
    margin-bottom:40px;
}
.footer-list h4{
    font-size: 1.1em;
    margin-bottom: 40px;
    color: #fff;
}
.footer-list ul{
    list-style: none;
    padding: 0;
}
.footer-list li{
    margin-bottom: 15px;
}
.footer-list li a{
    color: rgba(255,255,255,0.4);
    margin-bottom: 8px;
}
.covid-19{
    display: inline-block;
    width: 225px;
    text-align: center;
    background-color: rgb(219, 248, 237);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.covid-19 a{
    color: rgb(0, 0, 0);

}
#footer-bottom{
    padding-bottom: 30px;
}
#footer-bottom li a{
    color: #fff;
    padding: 0px 10px 0px;
}
#footer-bottom li:not(:first-child) a{
    border-left: 1px #fff solid;
}
.button-group a{
    width: 40px;
    height: 40px;
    background-color:#172B4D;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin: 0px 15px 0px;
    color: #fff;
}
.button-group+div{
    color: rgba(255,255,255,0.4);
}

/* 8 */
.message{
    width: 60px;
    height: 60px;
    background-color:#3493FB;
    border-radius:50%;
    position:fixed;
    right:20px;
    bottom:20px;
    z-index: 201;
}
.message svg{ 
    width: 32px;
    height: 32px;
    color: white;
    background-color:#3493FB;
}